Source: ros-groovy-rocon-apps
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>, Jihoon Lee <jihoonlee.in@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://wiki.ros.org/rocon_apps
Standards-Version: 3.9.2

Package: ros-groovy-rocon-apps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-gateway-msgs, ros-groovy-rocon-app-manager-msgs, ros-groovy-roslib, ros-groovy-rospy
Description: Core rocon apps for use with the appmanager and rocon concert.
